.c-slider-wrapper {
  padding: 0 25px;

  .slick-arrow {
    border-radius: 50%;

    &::before {
      color: gray;
    }
  }

  .slick-dots {
  }
}

.c-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  margin: 10px;

  &__loader {
    min-width: 290px;
    min-height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      object-fit: fill;
    }
  }

  &__info {
    background: #00000080;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 50%;
    bottom: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(30px);
    border-radius: 5px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__label {
      font-size: 0.8rem;
      font-weight: 600;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      &__left {
        flex: 1;

        &__options {
          font-size: 0.7rem;
        }
      }

      &__right {
        display: flex;
        align-items: flex-end;
        column-gap: 15px;

        .v-icon {
          font-size: 32px !important;

          &::after {
          }

          &:hover {
            color: #95D7AE !important;
          }
        }

        svg {
          color: currentColor;
          fill: currentColor;
          stroke: currentColor;
          cursor: pointer;

          path {
            color: currentColor;
            fill: currentColor;
            stroke: currentColor;
          }

          &:hover {
            color: #95D7AE !important;
          }
        }
      }
    }
  }
}

.c-slider-error {
  padding: 0 20px;
  color: #4F5D73;
  text-align: center;
}

/**************************** WIDGET ****************************/
.w-slider-wrapper {
  width: 125px;
  display: flex;
  flex-direction: column;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out, background 0.5s linear;


  &-label {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }

  &-separator {
    width: 250px;
    height: 1px;
    background: #000;
  }
}

.w-slider-wrapper-slider-container {
  width: 415px;
  height: 180px;

  .slick-arrow {
    border-radius: 50%;

    &::before {
      color: gray;
    }
  }


  .slick-prev {
    left: 10px;
    z-index: 1;
  }

  .slick-next {
    right: 10px;
    z-index: 1;
  }

  .slick-dots {
  }

  .slick-list {
    height: 180px;
  }

  .w-slider-nomenclature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__slide {
      min-height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__content {
        width: 100%;
        height: 180px;

        img {
          width: 100%;
          height: 100%;
          margin: 0 auto;
          object-fit: contain;
        }
      }
    }
  }
}

.w-slider-wrapper-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 0 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    &__label {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &__list {
      flex: 1;
      padding-left: 5px !important;

      &__options {

        &:before {
          content: "·";
          font-size: 40px;
          vertical-align: middle;
          line-height: 20px;
        }

        .w-slider-option {
          color: #000;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          padding-left: 5px;

          &__label {

          }

          &__value {
          }
        }
      }
    }

    &__bot {
      display: flex;
      column-gap: 10px;
      margin-top: 10px;
    }
  }
}

.widget-button {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.more-button {
  width: unset;
  min-width: unset;
  height: 36px;
  padding: 10px 16px;
}

.like-button {
  width: unset;
  min-width: unset;
  height: 36px;
  padding: 10px 12px;
  background-color: white !important;
}

.hovered-widget {
  background: #FFF4CB !important;
}

.slick-next::before {
  color: black;
}

.slick-prev::before{
  color: black;
}

@media only screen and (max-width: 768px) {
  .c-slider__info__label {
    font-size: 1rem;
  }

  .c-slider__info__wrapper__left__options {
    font-size: 0.9rem;
  }
}
