@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.object-tabs {
  .v-tab {
    border-bottom: 4px solid #D9D9D9;
  }
}

.tab-items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 1.2rem;
  position: relative;
}

.tab-content {
  display: flex;
  align-items: center;

  &__count {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 10px;
  }

  &__input {
    flex: 1;
    width: 100%;
    margin: 0 5px;
  }
}

//.active-tab-item {
//  background: #95D7AE;
//}

.more-arrow {
  display: flex;
  bottom: 0;
  background: white;
  width: 100%;
  max-height: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.4s ease-in-out;
  position: sticky;
  overflow: hidden;
  padding: 0;
  z-index: 4;

  img {
    animation: pulse 3s linear infinite;
    cursor: pointer;
  }
}

.show-more {
  opacity: 1;
  transform: translateY(0);
  max-height: 76px;
  padding: 40px 0 10px 0;
}

.input-file-padding {
  padding-right: 20px;
}

@media (max-width: 768px) {
  .more-arrow {
    padding: 14px 0;
    bottom: -2px;
    transform: translateY(0);
  }

  .show-more {
    max-height: 100%;
    padding: 14px 0;
  }

  .tab-content {
    padding: 0px 6px 4px 12px;
    column-gap: 12px;

    &__count {
      font-size: 22px;
    }
  }
}

.animated {
  animation: pulse 3s linear infinite;
}
