input:focus::placeholder {
  color: transparent !important;
}

.v-dialog {
  max-width: 1080px !important;
  border-radius: 5px;
}

.main_img {
  border-radius: 15px;
}

.v-menu__content {
  border-radius: 5px !important;
}

.universal_interface {
  border-radius: 15px;
}

.upcoming-title {
  color: lightgoldenrodyellow !important;
}

$main-color: red;

%blockGavna {
  display: grid;
  grid-row-gap: 10px;
}


