input:focus::placeholder {
  color: transparent !important;
}

.v-application p {
  margin: 0 !important;
}

.v-dialog {
  max-width: 1080px !important;
  border-radius: 5px;
}

.main_img {
  border-radius: 15px;
}

.v-menu__content {
  border-radius: 5px !important;
}

.universal_interface {
  border-radius: 15px;
}

.tooltip-styled {
  color: #FFFFFF !important;
}

$main-color: red;

$max-width: 1140px;

.background-hover-for-cards {
  box-shadow: 0px 5px 20px 7px rgba(34, 60, 80, 0.2) !important;
}

.border-hover {
  outline: 1px solid #FFDB58;
  border-radius: 5px;
}

.background-hover {
  background: #FFF4CB;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.files-dashed-border {
  background-image: repeating-linear-gradient(20deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px), repeating-linear-gradient(110deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px), repeating-linear-gradient(200deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px), repeating-linear-gradient(290deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px);
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.files-dashed-border-active {
  background-image: repeating-linear-gradient(20deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px), repeating-linear-gradient(110deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px), repeating-linear-gradient(200deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px), repeating-linear-gradient(290deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px);
}

.img-activator {
  overflow: hidden;

  .img-container {
    overflow: hidden;
  }


}

.animation_save {
  //color: white!important;
  background: #95D7AE !important;
  @extend .animation_pulse;
}

.animation_pulse {
  animation-name: stretch;
  animation-duration: 2.0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fullWidth {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: unset !important;
}

.blur-background {
  backdrop-filter: blur(5px) !important;
}

/***************************************  COLORS *****************************************/
.green-color {
  color: #95D7AE;
}

.red-color {
  color: #F79256;
}
