input:focus::placeholder {
  color: transparent !important;
}

.v-application p {
  margin: 0 !important;
}

.v-dialog {
  max-width: 1430px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}

.main_img {
  border-radius: 15px;
}


.universal_interface {
  border-radius: 15px;
}

.tooltip-styled {
  color: #FFFFFF !important;
}

$main-color: red;

$max-width: 1140px;

.background-hover-for-cards {
  box-shadow: 0px 5px 20px 7px rgba(34, 60, 80, 0.2) !important;
}


.background-hover {
  background: #FFF4CB;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.files-dashed-border {
  background-image: repeating-linear-gradient(20deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px), repeating-linear-gradient(110deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px), repeating-linear-gradient(200deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px), repeating-linear-gradient(290deg, #b3b3b3, #b3b3b3 7px, transparent 7px, transparent 19px, #b3b3b3 19px);
  background-size: 2px 100%, 100% 2px, 2px 100%, 100% 2px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.files-dashed-border-active {
  background-image: repeating-linear-gradient(20deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px), repeating-linear-gradient(110deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px), repeating-linear-gradient(200deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px), repeating-linear-gradient(290deg, #2196F3, #2196F3 7px, transparent 7px, transparent 19px, #2196F3 19px);
}

.img-activator {
  overflow: hidden;

  .img-container {
    overflow: hidden;
  }


}

.animation_save {
  //color: white!important;
  background: #95D7AE !important;
  @extend .animation_pulse;
}

.animation_pulse {
  animation-name: stretch;
  animation-duration: 2.0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fullWidth {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: unset !important;
}

.blur-background {
  backdrop-filter: blur(5px) !important;
}

/***************************************  COLORS *****************************************/
.green-color {
  color: #95D7AE;
}

.red-color {
  color: #F79256;
}

//Цвет фона сайта
$background-color: #F2F2F2;

//Цвет фона всех элементов (кроме исключений)
$background-element-color: #FFFFFF;

//Цвет "Положительных" кнопок (обводка и при наведении), некоторых иконок, v-badge и не только
$green-color: #95D7AE;

//Цвет "Отрицательных" кнопок (обводка и при наведении) и не только
$orange-color: #F79256;

//Цвет обводки выпадающих элементов (выпадающие списки)
$yellow-color: #FFDB58;

//Цвет фона некоторых элементов с которыми нельзя взаимодействовать (краткое описание в статье)
$grey-background-color: #E3E3E3;

//Цвет при наведении на элемент (элементы в выпадающем списке, ChipsStyled)
$hover-color: #B6B6B6;

//Цвет выбранных элементов (выбранные элементы в выпадающем списке)
$active-color: #D9D9D9;

//Цвет дизейбл элементов
$grey-disable-color: #B3B3B3;

//Цвет фона большинства элементов сайта при наведении на них
$dull-yellow-color: #FFF4CB;

//Цвет всего основного текста (кроме исключений)
$black-text-color: #000000;

//Цвет всего основного текста если фон темный
$white-text-color: #FFFFFF;

//Цвет поясняющего текста
$grey-text-color: #B3B3B3;

//Цвет некоторых иконок (пояснения “иконка вопроса")
$blue-icon-color: #5d80b5;


/***************************************  NEW STYLEGUIDE *****************************************/

/***************************************  COLORS *************************************************/

$white-color: #FFFFFF;

$grey1: #DDDDDD;

$grey2: #AAAAAA;

$grey3: #777777;

$grey4: #444444;

$black-color: #111111;

$red: #FF6347;


/***************************************  BORDER RADIUS ******************************************/

$b-r30: 30px;

$b-r16: 16px;

$b-r8: 8px;

$img-border: 2px solid ($grey2);

/*************************************** SHADOWBOX **********************************************/

$shadowBox: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);

$doubleShadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25), 0px -4px 16px 0px rgba(0, 0, 0, 0.25);


/*************************************** HEADERS & TEXT ******************************************/

.main-page-header {
  color: $black-color;
  font-size: 2em !important;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-page {
  color: $black-color;
  font-size: 1.5em !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.small-header-page {
  color: $black-color;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.white-small-header-page {
  color: $white-color;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.regular-text {
  color: $black-color;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grey-regular-text {
  color: $grey3;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text14 {
  color: $black-color;
  font-size: .875em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grey-text14 {
  color: $grey3;
  font-size: .875em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text12 {
  color: $black-color;
  font-size: .75em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grey-text12 {
  color: $grey3;
  font-size: .75em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.regular-btn-text {
  color: $black-color !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.white-regular-btn-text {
  color: $white-color !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.grey-regular-btn-text {
  color: $grey3 !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wide-btn-text {
  color: $black-color !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.white-wide-btn-text {
  color: $white-color !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.grey-wide-btn-text {
  color: $grey3 !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/***************************************  TRANSITION *****************************************/

$transition: all 0.4s ease-in-out;
