.custom_grid_system {
  @media only screen and (min-width: 0px) and (max-width: 368px) {
    max-width: 300px !important;
  }
  @media only screen and (min-width: 368px) and (max-width: 468px) {
    max-width: 368px !important;
  }
  @media only screen and (min-width: 468px) {
    max-width: 468px !important;
  }
  @media only screen and (min-width: 576px) {
    max-width: 540px !important;
  }
  @media only screen and (min-width: 768px) {
    max-width: 720px !important;
  }
  @media only screen and (min-width: 992px) {
    max-width: 960px !important;
  }
  @media only screen and (min-width: 1200px) {
    max-width: 1140px !important;
  }
}

@media only screen and (max-width: 1268px) {
  //.main__left_column {
  //  max-width: 900px;
  //}
  .list_container {
    grid-template-columns: auto !important;
  }
  .list_elem_wrapper {
    &__preview_content {
      &__short_info {
        &__short {
          -webkit-line-clamp: 3 !important;
        }
      }
    }
  }
  .preview-block {
    font-size: 10px !important;
  }
}

.article_card {
  //width: fit-content;
  //width: 400px;
  //height: 400px;
  font-family: 'Roboto', sans-serif;

  .list_elem_wrapper {
    display: grid;
    height: auto;
    width: auto;

    align-content: baseline;
    grid-row-gap: 10px;
    opacity: 0.6;
    transition: opacity 0.4s;
    //grid-template-rows: 300px auto;

    &:hover {
      opacity: 1;
      transition: opacity 0.4s;
    }

  }
}


.list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5em;
  row-gap: 1.5em;
}

.list_elem_wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;


  &__tag_container {
    height: 25px;
    font-size: 1em;
    color: #777777 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //max-width: 450px;
    a:first-child {
      margin: unset;
    }

    a {
      margin: 0 5px;
    }
  }

  &__img_container {
    height: 325px;
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 325px;
    //max-width: 510px;
    background: #ADADAD;
    border-radius: 5px;

    &__img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      object-fit: cover;
      -o-object-fit: cover;
    }
  }

  &__preview_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__short_info {
      justify-content: flex-start;
      align-content: space-between;
      height: 100%;
      padding-bottom: 1em;


      &__title_info {
        display: flex;
        justify-content: space-between;

        //padding-bottom: 10px;

        &__title {
          font-size: 1.3em;
          line-height: 28px;
          background: linear-gradient(0deg, slateblue, slateblue) no-repeat right bottom / 0 var(--bg-h);
          transition: background-size 350ms;
          --bg-h: 2px;
          //width: 18em;
          //white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 60px;


          //&:where(:hover, :focus-visible) {
          //  background-size: 100% var(--bg-h);
          //  background-position-x: left;
          //}
        }

        &__time {
          font-size: 1em;
          color: #777777;
          font-weight: normal;
          @media only screen and (min-width: 0px) and (max-width: 468px) {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 0.9em;
          }
        }
      }

      &__short {
        height: 3.5em;
        min-height: 60px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #000000;
        font-weight: 400;
        font-size: 0.9em !important;
        background-color: #E3E3E3;
        border-radius: 5px;
        padding: 8px 15px;

      }
    }
  }
}

.author_wrapper {
  display: flex;
  width: 100%;
  column-gap: 10px;
  align-items: center;
  font-size: 0.9em;
  padding: 5px;
  background: #fcfcfc;
  color: #999999;

  &__img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 50%;
  }

  &__name {
    flex: 1;
  }

  .preview {
    color: #1976d2;
    font-size: 1.2em;
    font-weight: 500;
  }

  &__date {
  }
}

.preview-block {
  padding: 0 !important;
  align-items: flex-end;
}

.article_card {
  transition: all 0.4s ease-in-out !important;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 20px 7px rgba(34, 60, 80, 0.2) !important;
  }
}


$greenButton: #95D7AE;
$orangeButton: #F79256;

%basedButton {
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.list_elem_wrapper__preview_content__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__show_more {
    align-items: center;
    padding: 0 1em !important;
    width: 14em;
    max-width: 200px;
    height: 2.7em !important;
    justify-content: space-between;
    color: #000000 !important;
    text-transform: inherit;
    font-size: 1em !important;
    font-weight: 400;
    letter-spacing: 0 !important;
    border: 0.5px solid #95D7AE;
    transition: 0.4s;

    &:hover {
      background: #95D7AE !important;
      transition: 0.4s;
    }

    &__arrow {
      font-size: 18px !important;
    }
  }

  &__social_btns {
    font-size: 0.9em;
    align-items: flex-end;
    color: #857885;
    display: inline-flex;
    flex-wrap: wrap;

    &__wrapper {

      &__btn {
        padding-left: 0.9em;
      }
    }

    &:active {
      background: #FFFFFF !important;
    }

  }
}

