@import 'assets/fonts/GoogleSans/style.css';
@import 'assets/fonts/OpenSans/stylesheet.css';

.mainTitleFont {
  font-family: 'Roboto', sans-serif !important;
  color: #000000;
  font-weight: 700;
  font-size: 2em;
  max-width: 715px;
}

.titleFont {
  font-family: 'Roboto', sans-serif !important;
  color: #000000;
  font-weight: 500;
  font-size: 1.2em;
}

.mainContentFont {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1em;
  color: #000000;
}

.activeElement {
  color: lightgoldenrodyellow;
}

.activeItem {
  background: rgba(0, 0, 0, 0.5);
  //background: #272727;
}
